In [1]:
import pandas as pd

In [2]:
# from nsepy import get_history as gh
import datetime as dt

In [3]:
# start = dt.datetime(2013,6,1)
# end = dt.datetime(2022,2,11)
# stk_data = gh(symbol='TATACOFFEE',start=start,end=end)

In [4]:
from NSEDownload import stocks
# from datetime import datetime
stk_data = stocks.get_data(stock_symbol="TATACOFFEE", start_date='1-6-2013', end_date='1-11-2022')

In [5]:
# stk_data = pd.read_csv("stock_data.csv")
stk_data=stk_data[["Open Price","High Price","Low Price","Close Price"]]

In [6]:
#column="Close"

In [7]:
from sklearn.preprocessing import MinMaxScaler
Ms = MinMaxScaler()
data1= Ms.fit_transform(stk_data)
print("Len:",data1.shape)

Len: (2393, 4)

In [8]:
data1=pd.DataFrame(data1,columns=["Open Price","High Price","Low Price","Close Price"])

In [9]:
training_size = round(len(data1 ) * 0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

1914
X_train length: (1914, 4)
X_test length: (479, 4)
y_train length: (1914, 4)
y_test length: (479, 4)

In [10]:
import warnings
warnings.filterwarnings("ignore")

In [11]:
listt=["Close Price","High Price","Open Price","Low Price"]

In [12]:
listt

['Close Price', 'High Price', 'Open Price', 'Low Price']

In [13]:
data1

      Open Price  High Price  Low Price  Close Price
0       1.000000    1.000000   1.000000     1.000000
1       0.996183    0.992387   0.984549     0.989929
2       0.991495    0.989649   0.992444     0.995573
3       0.985770    0.993055   0.994138     0.994153
4       0.981450    0.984374   0.988039     0.989186
...          ...         ...        ...          ...
2388    0.112168    0.111953   0.113645     0.112876
2389    0.112168    0.112688   0.113679     0.113282
2390    0.112871    0.111586   0.113035     0.111997
2391    0.111565    0.111419   0.113170     0.113282
2392    0.112235    0.112855   0.114356     0.114464

[2393 rows x 4 columns]

In [22]:
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error
import pandas as pd

def combination(dataset, listt):
    print(listt)
    performance = {"Model": [], "RMSE": [], "MaPe": [], "Order": [], "Test": []}
    
    datasetTwo = dataset[listt]
    test_obs = 28
    train = datasetTwo[:-test_obs]
    test = datasetTwo[-test_obs:]
    
    best_alpha = None
    best_model = {}
    best_rmse = float('inf')
    
    # Iterate over each column in the dataset
    for column in datasetTwo.columns:
        print(f'Processing column: {column}')
        best_alpha_column = None
        best_model_column = None
        best_rmse_column = float('inf')
        preds_column = None
        
        # Try different smoothing levels (alpha) to find the best
        for alpha in [0.1, 0.2, 0.5, 0.8]:
            try:
                # Initialize and fit the SES model for each column
                ses_model = SimpleExpSmoothing(train[column]).fit(smoothing_level=alpha, optimized=False)
                print(f'Alpha = {alpha} for column {column}')
                
                # Forecasting
                forecasted_values = ses_model.forecast(steps=test_obs)
                forecasted_values.to_csv("varforecastedSES_{}.csv".format(test_obs))
                # Calculate RMSE and MAPE for each column
                rmse = mean_squared_error(test[column], forecasted_values, squared=False)
                mape = mean_absolute_percentage_error(test[column], forecasted_values)
                
                print(f'RMSE: {rmse}')
                print(f'MAPE: {mape}')
                
                # Track the best model for this column based on RMSE
                if rmse < best_rmse_column:
                    best_rmse_column = rmse
                    best_alpha_column = alpha
                    best_model_column = ses_model
                    preds_column = forecasted_values
                
            except Exception as e:
                print(f"Could not fit SES(alpha={alpha}) for column {column}: {e}")
                continue
        
        # Save the best model and predictions for each column
        if best_model_column is not None:
            best_model[column] = best_model_column
            
            # Store the results for performance metrics
            performance["Model"].append(f'{column} (SES)')
            performance["RMSE"].append(best_rmse_column)
            performance["MaPe"].append(mape)
            performance["Order"].append(f"alpha={best_alpha_column}")
            performance["Test"].append(test_obs)
    
    # Convert performance to DataFrame
    perf = pd.DataFrame(performance)
    
    return perf, best_model, preds_column

In [23]:

#listt=["AQI_calculated","PM10","PM2.5","NOx","NO2","NO","NH3","SO2","CO",'year']

In [24]:
perf,result,pred=combination(data1,listt) # here p is aiuto regressive , q is moving average

['Close Price', 'High Price', 'Open Price', 'Low Price']
Processing column: Close Price
Alpha = 0.1 for column Close Price
RMSE: 0.01009407362233015
MAPE: 0.08563347468411897
Alpha = 0.2 for column Close Price
RMSE: 0.0098198130734
MAPE: 0.08314949957456283
Alpha = 0.5 for column Close Price
RMSE: 0.006758440274101942
MAPE: 0.05488609300905791
Alpha = 0.8 for column Close Price
RMSE: 0.006126347754855261
MAPE: 0.04895033916067343
Processing column: High Price
Alpha = 0.1 for column High Price
RMSE: 0.011046927079695696
MAPE: 0.09486884417161597
Alpha = 0.2 for column High Price
RMSE: 0.010993757717165108
MAPE: 0.0943884082200988
Alpha = 0.5 for column High Price
RMSE: 0.007687842361750384
MAPE: 0.06412684873432094
Alpha = 0.8 for column High Price
RMSE: 0.006350875965528488
MAPE: 0.051487189918983885
Processing column: Open Price
Alpha = 0.1 for column Open Price
RMSE: 0.009934809215806388
MAPE: 0.08424036709779091
Alpha = 0.2 for column Open Price
RMSE: 0.01008772382817128
MAPE: 0.08563455767219334
Alpha = 0.5 for column Open Price
RMSE: 0.006594220880115866
MAPE: 0.05308727655917091
Alpha = 0.8 for column Open Price
RMSE: 0.0045645738066975175
MAPE: 0.035114606246870954
Processing column: Low Price
Alpha = 0.1 for column Low Price
RMSE: 0.009837873014722727
MAPE: 0.08347215853977896
Alpha = 0.2 for column Low Price
RMSE: 0.009694907784621423
MAPE: 0.08217493439581777
Alpha = 0.5 for column Low Price
RMSE: 0.006483359662529694
MAPE: 0.05242963876956179
Alpha = 0.8 for column Low Price
RMSE: 0.005489932687958635
MAPE: 0.043328699711935224

In [25]:
data1

      Open Price  High Price  Low Price  Close Price
0       1.000000    1.000000   1.000000     1.000000
1       0.996183    0.992387   0.984549     0.989929
2       0.991495    0.989649   0.992444     0.995573
3       0.985770    0.993055   0.994138     0.994153
4       0.981450    0.984374   0.988039     0.989186
...          ...         ...        ...          ...
2388    0.112168    0.111953   0.113645     0.112876
2389    0.112168    0.112688   0.113679     0.113282
2390    0.112871    0.111586   0.113035     0.111997
2391    0.111565    0.111419   0.113170     0.113282
2392    0.112235    0.112855   0.114356     0.114464

[2393 rows x 4 columns]

In [26]:
perf

               Model      RMSE      MaPe      Order  Test
0  Close Price (SES)  0.006126  0.048950  alpha=0.8    28
1   High Price (SES)  0.006351  0.051487  alpha=0.8    28
2   Open Price (SES)  0.004565  0.035115  alpha=0.8    28
3    Low Price (SES)  0.005490  0.043329  alpha=0.8    28