In [2]:
import pandas as pd

In [3]:
# from nsepy import get_history as gh
import datetime as dt

In [4]:
# start = dt.datetime(2013,6,1)
# end = dt.datetime(2022,2,11)
# stk_data = gh(symbol='TATACOFFEE',start=start,end=end)

In [5]:
from NSEDownload import stocks
# from datetime import datetime
stk_data = stocks.get_data(stock_symbol="TATACOFFEE", start_date='1-6-2013', end_date='1-11-2022')

In [6]:
# stk_data = pd.read_csv("stock_data.csv")
stk_data=stk_data[["Open Price","High Price","Low Price","Close Price"]]

In [7]:
#column="Close"

In [8]:
from sklearn.preprocessing import MinMaxScaler
Ms = MinMaxScaler()
data1= Ms.fit_transform(stk_data)
print("Len:",data1.shape)

Len: (2393, 4)

In [9]:
data1=pd.DataFrame(data1,columns=["Open Price","High Price","Low Price","Close Price"])

In [10]:
training_size = round(len(data1 ) * 0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

1914
X_train length: (1914, 4)
X_test length: (479, 4)
y_train length: (1914, 4)
y_test length: (479, 4)

In [11]:
import warnings
warnings.filterwarnings("ignore")

In [12]:
listt=["Close Price","High Price","Open Price","Low Price"]

In [13]:
listt

['Close Price', 'High Price', 'Open Price', 'Low Price']

In [14]:
data1

      Open Price  High Price  Low Price  Close Price
0       1.000000    1.000000   1.000000     1.000000
1       0.996183    0.992387   0.984549     0.989929
2       0.991495    0.989649   0.992444     0.995573
3       0.985770    0.993055   0.994138     0.994153
4       0.981450    0.984374   0.988039     0.989186
...          ...         ...        ...          ...
2388    0.112168    0.111953   0.113645     0.112876
2389    0.112168    0.112688   0.113679     0.113282
2390    0.112871    0.111586   0.113035     0.111997
2391    0.111565    0.111419   0.113170     0.113282
2392    0.112235    0.112855   0.114356     0.114464

[2393 rows x 4 columns]

In [21]:
def combination(dataset,listt):
    print(listt)
    performance={"Model":[],"RMSE":[],"MaPe":[],"Order":[],"Test":[]}
    datasetTwo=dataset[listt]
    test_obs = 28
    train =datasetTwo[:-test_obs]
    test = datasetTwo[-test_obs:]
    best_aic = float('inf')
    from statsmodels.tsa.api import VARMAX
    
    best_order = None
    best_model = None
    
    for p in range(1, 3):  # Autoregressive part
        for q in range(1, 3):  # Moving average part
            try:
                # Initialize and fit the VARMA model
                model = VARMAX(train, order=(p, q))
                results = model.fit(disp=False)
                
                # Print the order and AIC for each model
                print(f'Order = (p={p}, q={q})')
                print('AIC: ', results.aic)
                print('BIC: ', results.bic)
                
                # Track the best model based on AIC
                if results.aic < best_aic:
                    best_aic = results.aic
                    best_order = (p, q)
                    best_model = results
            except Exception as e:
                print(f"Could not fit VARMA(p={p}, q={q}): {e}")
                continue
    
    # Use the best model to make predictions
    if best_model is not None:
        lagged_Values = train.values[-best_order[0]:]  # Use the AR part of the best order
        pforecast = results.get_forecast(steps=test_obs)
        forecasted_values = pforecast.predicted_mean
        preds = pd.DataFrame(forecasted_values, columns=listt)
    
        preds.to_csv("varma_forecasted_{}.csv".format(test_obs), index=False)
        from sklearn.metrics import mean_squared_error
        rmse= round(mean_squared_error(test,preds,squared=False))
        from sklearn.metrics import mean_absolute_percentage_error
        mape=mean_absolute_percentage_error(test,preds)
        performance["Model"].append(listt)
        performance["RMSE"].append(rmse)
        performance["MaPe"].append(mape)
        performance["Order"].append(best_order)
        performance["Test"].append(test_obs)
        perf=pd.DataFrame(performance)
    return perf,results,preds

In [22]:

#listt=["AQI_calculated","PM10","PM2.5","NOx","NO2","NO","NH3","SO2","CO",'year']

In [23]:
perf,result,pred=combination(data1,listt) # here p is aiuto regressive , q is moving average

['Close Price', 'High Price', 'Open Price', 'Low Price']

/Users/subhaarunpandian/anaconda3/envs/dl_env/lib/python3.10/site-packages/statsmodels/tsa/statespace/varmax.py:160: EstimationWarning: Estimation of VARMA(p,q) models is not generically robust, due especially to identification issues.
  warn('Estimation of VARMA(p,q) models is not generically robust,'

Order = (p=1, q=1)
AIC:  -73210.34479644973
BIC:  -72944.99226460714

/Users/subhaarunpandian/anaconda3/envs/dl_env/lib/python3.10/site-packages/statsmodels/tsa/statespace/varmax.py:160: EstimationWarning: Estimation of VARMA(p,q) models is not generically robust, due especially to identification issues.
  warn('Estimation of VARMA(p,q) models is not generically robust,'

Order = (p=1, q=2)
AIC:  -73227.03033392748
BIC:  -72869.38126927007

/Users/subhaarunpandian/anaconda3/envs/dl_env/lib/python3.10/site-packages/statsmodels/tsa/statespace/varmax.py:160: EstimationWarning: Estimation of VARMA(p,q) models is not generically robust, due especially to identification issues.
  warn('Estimation of VARMA(p,q) models is not generically robust,'
/Users/subhaarunpandian/anaconda3/envs/dl_env/lib/python3.10/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Order = (p=2, q=1)
AIC:  -73231.51155311192
BIC:  -72873.86248845451

/Users/subhaarunpandian/anaconda3/envs/dl_env/lib/python3.10/site-packages/statsmodels/tsa/statespace/varmax.py:160: EstimationWarning: Estimation of VARMA(p,q) models is not generically robust, due especially to identification issues.
  warn('Estimation of VARMA(p,q) models is not generically robust,'
/Users/subhaarunpandian/anaconda3/envs/dl_env/lib/python3.10/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Order = (p=2, q=2)
AIC:  -73201.2133048652
BIC:  -72751.26770739297

In [24]:
data1

      Open Price  High Price  Low Price  Close Price
0       1.000000    1.000000   1.000000     1.000000
1       0.996183    0.992387   0.984549     0.989929
2       0.991495    0.989649   0.992444     0.995573
3       0.985770    0.993055   0.994138     0.994153
4       0.981450    0.984374   0.988039     0.989186
...          ...         ...        ...          ...
2388    0.112168    0.111953   0.113645     0.112876
2389    0.112168    0.112688   0.113679     0.113282
2390    0.112871    0.111586   0.113035     0.111997
2391    0.111565    0.111419   0.113170     0.113282
2392    0.112235    0.112855   0.114356     0.114464

[2393 rows x 4 columns]

In [27]:
perf

,Model,RMSE,MaPe,Order,Test
0,"[Close Price, High Price, Open Price, Low Price]",0,0.072817,"(2, 1)",28